{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name keechma-ssr.middleware, :imports nil, :requires {defaults macchiato.middleware.defaults, macchiato.middleware.defaults macchiato.middleware.defaults}, :uses nil, :defs {wrap-defaults {:protocol-inline nil, :meta {:file "/Users/retro/Projects/keechma-ssr/src/keechma_ssr/middleware.cljs", :line 5, :column 7, :end-line 5, :end-column 20, :arglists (quote ([handler]))}, :name keechma-ssr.middleware/wrap-defaults, :variadic false, :file "/Users/retro/Projects/keechma-ssr/src/keechma_ssr/middleware.cljs", :end-column 20, :method-params ([handler]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 5, :end-line 5, :max-fixed-arity 1, :fn-var true, :arglists (quote ([handler]))}}, :require-macros nil, :doc nil}